{:deps {org.clojure/clojure {:mvn/version "1.9.0"}}
 :aliases {:nrepl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.12"}}
                   :main-opts ["-e" "(require,'[clojure.tools.nrepl.server,:refer,[start-server]]),(start-server,:port,60606)"]}}}