{:deps    {org.clojure/clojure     {:mvn/version "1.9.0"}
           org.clojure/spec.alpha  {:mvn/version "0.1.143"}
           org.clojure/tools.nrepl {:mvn/version "0.2.13"}
           clake-common            {:git/url   "https://github.com/ComputeSoftware/clake"
                                    :deps/root "common"
                                    :sha       "21f27052e408d1fc9f1201ee08e889866654c9cc"}}
 ;; override-deps does not work correctly right now so we need to use the comment approach
 ;; https://dev.clojure.org/jira/browse/TDEPS-51
 :aliases {:dev  {:override-deps {clake-common {:local/root "../../common"}}}
           :repl {:main-opts ["-m" "clake-tasks.repl"]}}}