{:paths ["src"]
 :deps  {org.clojure/clojure         {:mvn/version "1.9.0"}
         pjstadig/humane-test-output {:mvn/version "0.8.3"}
         com.cognitect/test-runner   {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                      :sha     "78d380d00e7a27f7b835bb90af37e73b20c49bcc"}
         clake-common                {:git/url   "https://github.com/ComputeSoftware/clake"
                                      :deps/root "common"
                                      :sha       "cd74f0abf058b049e9d12ce5cccc23839e2c7eae"}}}