{:paths   ["src"]
 :deps    {org.clojure/clojure       {:mvn/version "1.9.0"}
           org.clojure/clojurescript {:mvn/version "1.10.217"}
           org.clojure/tools.cli     {:mvn/version "0.3.7"}
           thheller/shadow-cljs      {:mvn/version "2.3.32"}
           expound                   {:mvn/version "0.6.0"}
           shoe/common               {:local/root "../common"}
           ;shoe-tasks               {:local/root "../tasks"}
           }
 :aliases {:test {:extra-paths ["test" "../tasks/test"]}}}