{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  shoe/common
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "common"
   :sha "6adeaef9c65c87cdf9f15331c401263f2f820925"}}}
