{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  shoe/common
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "common"
   :sha "844cc81904b41eb6084aa080f666d0916b878c1d"}}}
