{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  shoe/common
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "common"
   :sha "ded72fa73eb327cab03dac96a8cd811662858c5a"}}}
