{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/spec.alpha {:mvn/version "0.1.143"}
  shoe/common
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "common"
   :sha "6adeaef9c65c87cdf9f15331c401263f2f820925"}
  shoe.tasks/jar
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/jar"
   :sha "6adeaef9c65c87cdf9f15331c401263f2f820925"}
  shoe.tasks/libdir
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/libdir"
   :sha "6adeaef9c65c87cdf9f15331c401263f2f820925"}
  shoe.tasks/aot
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/aot"
   :sha "6adeaef9c65c87cdf9f15331c401263f2f820925"}}}