{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/spec.alpha {:mvn/version "0.1.143"}
  shoe/common
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "common"
   :sha "ded72fa73eb327cab03dac96a8cd811662858c5a"}
  shoe.tasks/jar
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/jar"
   :sha "ded72fa73eb327cab03dac96a8cd811662858c5a"}
  shoe.tasks/libdir
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/libdir"
   :sha "ded72fa73eb327cab03dac96a8cd811662858c5a"}
  shoe.tasks/aot
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/aot"
   :sha "ded72fa73eb327cab03dac96a8cd811662858c5a"}}}
