{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/spec.alpha {:mvn/version "0.1.143"}
  shoe/common
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "common"
   :sha "5da29dc8e8f157f5bf16739f601bda7f3ec87b8c"}
  shoe.tasks/jar
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/jar"
   :sha "5da29dc8e8f157f5bf16739f601bda7f3ec87b8c"}
  shoe.tasks/libdir
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/libdir"
   :sha "5da29dc8e8f157f5bf16739f601bda7f3ec87b8c"}
  shoe.tasks/aot
  {:git/url "https://github.com/ComputeSoftware/shoe"
   :deps/root "tasks/aot"
   :sha "5da29dc8e8f157f5bf16739f601bda7f3ec87b8c"}}}
